In [8]:
import numpy as np, matplotlib.pyplot as plt, pandas as pd, seaborn as sns

import sys
sys.path.append('/ahg/regevdata/projects/CRISPR-libraries/prj2/evolution/orthorep/src/')
import _config

sys.path.append('/home/unix/maxwshen/')
from mylib import util

notebook_nm = 'fig_fitness_tables_orthorep'
results_dir = _config.RESULTS_PLACE + f'{notebook_nm}/'
util.ensure_dir_exists(results_dir)

In [9]:
fig_nm_to_model_and_iter = {
    '3c': (7, 1840),
    '3d': (8, 870),
    's5a': (9, 670),
}

In [10]:
def load_data(fig_nm):
    print(fig_nm)
    
    model_nm, model_iter = fig_nm_to_model_and_iter[fig_nm]
    
    model_dir = '/ahg/regevdata/projects/CRISPR-libraries/prj2/evolution/orthorep/out/_fitness_from_reads_pt/'
    df = pd.read_csv(f'{model_dir}/model_{model_nm}/fitness_{model_iter}.csv', index_col = 0)
    
    df = df.sort_values(by = 'Inferred fitness', ascending = False).reset_index(drop = True)
    
    df.to_csv(results_dir + f'{fig_nm}.csv')
    
    return df

## 3c

In [11]:
fig_nm = '3c'

dfm = load_data(fig_nm)
display(dfm)

3c

   Genotype  Inferred fitness
0     _HRNA          7.600574
1     _HRN_          6.268377
2     _H_N_          4.906524
3     _HR__          3.505545
4     DH_N_          1.938741
5     DHRN_          1.857764
6     __RN_          1.634337
7     ___NA          1.100851
8     DHRNA          0.137683
9     ___N_          0.134194
10    _____          0.008531

## 3d

In [12]:
fig_nm = '3d'

dfm = load_data(fig_nm)
display(dfm)

3d

  Genotype  Inferred fitness
0     NHN_          2.954243
1     NH__          2.878329
2     NH_K          1.665867
3     _HNK          1.065815
4     N___          1.065386
5     _HN_          0.944663
6     __N_          0.659522
7     __NK          0.594927
8     ____          0.000376

## s5a

In [13]:
fig_nm = 's5a'

dfm = load_data(fig_nm)
display(dfm)

s5a

      Genotype  Inferred fitness
0   V__N_____A          3.631039
1   V_VNH____A          3.557317
2   V__NHY___A          3.471932
3   VHVNH____A          3.315462
4   V__NH__N_A          3.216281
5   V__NH____A          2.689561
6   V__NH_____          2.209296
7   VH_NH____A          2.186706
8   ___NH____A          2.046760
9   V__NH_R_EA          1.092605
10  _____Y_N_A          0.844236
11  _____Y_N__          0.767784
12  _______N_A          0.543264
13  _H_____N__          0.354585
14  __V____N__          0.318999
15  _______N__          0.289535
16  ____H_____          0.277832
17  _____Y____          0.212957
18  V____Y_N__          0.194121
19  ___N___N__          0.194006
20  ______RNE_          0.122583
21  __________          0.000571